<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make an appointment</title>

    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
    <script src="https://bootswatch.com/_assets/css/custom.min.css"></script>
    <script src="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css" ></script>
    <script src="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootbox.min.js"></script>


<!--    <script>-->
<!--        function confirmAlert(btnConfirm){-->
<!--            console.log("vleze");-->
<!--             alert({-->
<!--                size: 'large',-->
<!--                title: 'Reservation complete!',-->
<!--                message: "Your reservation is completed! Click on the PDF button to see your receipt!",-->
<!--                centerVertical: true,-->
<!--                buttons: {-->
<!--                    confirm: {-->
<!--                        label: '<i class="fa fa-check"></i> Ok',-->
<!--                        callback: function(){-->
<!--                            var $form = $(btnConfirm).parent('form');-->
<!--                            $form.trigger('submit');-->
<!--                        }-->
<!--                    },-->
<!--                    print: {-->
<!--                        label: '<i class="fa fa-file-pdf-o"></i> PDF',-->
<!--                        callback: function(){-->
<!--                            var input = $(btnConfirm).next('input');-->
<!--                            input.attr('value', 'true');-->
<!--                            var $form = $(btnConfirm).parent('form');-->
<!--                            $form.trigger('submit');-->
<!--                        }-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<div th:replace="layout.html ::header"></div>

<form method="POST" th:action="@{'/makeAppointment'}" class="justify-content-center container">
    <div class="form-group">
        <label for="serviceIds" class="form-label mt-4 col-sm-4">Select Service</label>
        <select class="form-select" id="serviceIds" name="serviceIds" multiple>
            <option value="" disabled>All</option>
            <option th:each="service :${services}" th:value="${service.getServiceId()}"
                    th:text="${service.getServiceName()}">[usluga.dejnost] </option>
        </select>
    </div>

    <div class="form-group">
        <label for="terminId" class="form-label mt-4">Select Time</label>
        <select class="form-select" id="terminId" name="terminId" >
            <option th:each="termin :${termini}" th:value="${termin.getTerminId()}"
                    th:text="${termin.getStartTime()}">[termin.pocetok] </option>
        </select>
    </div>
    <div class="form-group">
        <label  class="form-label mt-4">Payment method</label>
        <br>
        <div>
            <input type="checkbox">
            <label> In the salon</label><br>
            <input type="checkbox">
            <a th:href="@{/payment}">Credit card</a><br>
        </div>
    </div>
    <div class="form-group" >
        <label  class="form-label mt-4" for="clientName" >Client:</label>
        <input  id="clientName" name="clientName"
                type="text"
                th:value="${#authentication.getName()}"
                class="form-control" readonly>
        <br>
        <hr>
    </div>

    <div class="col-md-12">
        <p>By clicking the Confirm button, you confirm that you have read and understood,
            and accept our <u>Terms and Conditions</u>, <u>Return Policy</u> and <u>Privacy Policy</u>.
        </p>

            <button type="submit" class="btn btn-primary btn-lg">Confirm</button>
            <a th:href="@{/users/export/pdf}">Export to PDF</a>

        <!--            <button  href="/pdf" class="btn btn-primary btn-lg">Generate PDF</button>-->
<!--            <input type="hidden" name="pdfRedir" id="pdfRedir" onclick="confirmAlert(this)" value="false">-->

    </div>


<!--        <button type="submit" class="btn btn-primary btn-lg">Submit</button>-->


</form>

<div th:replace="layout.html ::footer"></div>
</body>

</html>

