<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make an appointment</title>

    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
    <script src="https://bootswatch.com/_assets/css/custom.min.css"></script>
    <script src="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css"></script>
    <script src="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootbox.min.js"></script>


    <!--    <script>-->
    <!--        function confirmAlert(btnConfirm){-->
    <!--            console.log("vleze");-->
    <!--             alert({-->
    <!--                size: 'large',-->
    <!--                title: 'Reservation complete!',-->
    <!--                message: "Your reservation is completed! Click on the PDF button to see your receipt!",-->
    <!--                centerVertical: true,-->
    <!--                buttons: {-->
    <!--                    confirm: {-->
    <!--                        label: '<i class="fa fa-check"></i> Ok',-->
    <!--                        callback: function(){-->
    <!--                            var $form = $(btnConfirm).parent('form');-->
    <!--                            $form.trigger('submit');-->
    <!--                        }-->
    <!--                    },-->
    <!--                    print: {-->
    <!--                        label: '<i class="fa fa-file-pdf-o"></i> PDF',-->
    <!--                        callback: function(){-->
    <!--                            var input = $(btnConfirm).next('input');-->
    <!--                            input.attr('value', 'true');-->
    <!--                            var $form = $(btnConfirm).parent('form');-->
    <!--                            $form.trigger('submit');-->
    <!--                        }-->
    <!--                    }-->
    <!--                }-->
    <!--            });-->
    <!--        }-->
    <!--    </script>-->
</head>
<body>
<div th:replace="layout.html ::header"></div>

<form class="justify-content-center container" method="POST" th:action="@{'/makeAppointment'}">
    <div class="form-group">
        <label class="form-label mt-4 col-sm-4" for="serviceIds">Select Service</label>
        <select class="form-select" id="serviceIds" multiple name="serviceIds">
            <option disabled value="">All</option>
            <option th:each="service :${services}" th:text="${service.getServiceName()}"
                    th:value="${service.getServiceId()}">[usluga.dejnost]
            </option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label mt-4" for="terminId">Select Time</label>
        <select class="form-select" id="terminId" name="terminId">
            <option th:each="termin :${termini}" th:text="${termin.getStartTime()}"
                    th:value="${termin.getTerminId()}">[termin.pocetok]
            </option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-label mt-4">Payment method</label>
        <br>
        <div>
            <input type="checkbox">
            <label> In the salon</label><br>
            <input type="checkbox">
            <label> Credit card</label><br>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label mt-4" for="clientName">Client:</label>
        <input class="form-control" id="clientName"
               name="clientName"
               readonly
               th:value="${#authentication.getName()}" type="text">
        <br>
        <hr>
    </div>

    <div class="col-md-12">
        <p>By clicking the Confirm button, you confirm that you have read and understood,
            and accept our <u>Terms and Conditions</u>, <u>Return Policy</u> and <u>Privacy Policy</u>.
        </p>

        <button class="btn btn-primary btn-lg" type="submit">Confirm</button>
        <a th:href="@{/services}">Back to services</a>


    </div>

</form>

<div th:replace="layout.html ::footer"></div>
</body>

</html>

