<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TerminiList</title>
    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
    <script src="https://bootswatch.com/_assets/css/custom.min.css"></script>
    <script src="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css" ></script>
    <script src="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css"></script>
</head>
<body>
<div th:replace="layout.html :: header"></div>

<div style="margin-top: 5%">
    <div>
        <div class="container mb-4">
            <div class="row">
                <div class="col-12" >
                    <h2 class="text-center">Free booking terms</h2>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')"
                       th:href="@{/termini/add}" class="btn btn-primary">
                        Add new
                    </a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Start Time</th>
                                <th>Duration in hours</th>
                                <th>Employee name</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="item" th:each="termin :${termini}" >
                                <td th:text="${termin.startTime}" >[termin.pocetok]</td>
                                <td th:text="${termin.duration}">[termin.vremetraenje]</td>
                                <td th:text="${termin.employee.getName()}" >[termin.vraboteni.getFirstName()]</td>

                                <td>
                                    <th:block  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')">
                                    <a th:href="@{'/termini/{id}/edit' (id = ${termin.terminId})}" class="btn btn-link">Edit</a>

                                    <form method="POST" th:action="@{'/termini/{id}/delete' (id = ${termin.terminId})}">
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                    </th:block>

                                    <a  sec:authorize="isAuthenticated()"
                                        th:href="@{'/makeAppointment'}" class="btn btn-primary">
                                        Make Appointment</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>
</html>