<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rate Service</title>
    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
    <script src="https://bootswatch.com/_assets/css/custom.min.css"></script>
    <script src="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css"></script>
    <script src="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css"></script>
</head>
<body>
<div th:replace="layout.html :: header"></div>

<form method="POST" th:action="@{'/services/rate'}">
    <fieldset>
        <div class="container" width:50%>
            <br>
            <br>
            <h3>Rate service</h3>
            <div class="form-group">
                <label class="form-label mt-4 col-sm-4" for="serviceId">Select Service</label>
                <select class="form-select" id="serviceId" name="serviceId">
                    <option disabled value="">All</option>
                    <option th:each="service :${services}" th:text="${service.getServiceName()}"
                            th:value="${service.getServiceId()}">[usluga.dejnost]
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="rateValue">Rate value:</label>
                <input class="form-control" id="rateValue" max="5" min="1" name="rateValue"
                       required type="number">
            </div>

            <div class="form-group">
                <label class="form-label mt-4" for="comment">Comment:</label>
                <input class="form-control" id="comment"
                       name="comment"
                       type="text">
            </div>

            <div class="form-group">
                <label class="form-label mt-4" for="client">Client:</label>
                <input class="form-control" id="client"
                       name="client"
                       readonly
                       th:value="${loggedInUser.getUsername()}" type="text">

            </div>

            <br>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <a class="btn btn-link" href="/services" id="back" type="button">Back to services</a>
        </div>
        </div>
    </fieldset>
</form>
<div th:replace="layout.html :: footer"></div>
</body>
</html>