<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
    <script src="https://bootswatch.com/_assets/css/custom.min.css"></script>
    <script src="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css"></script>
    <script src="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css"></script>
</head>
<body>
<div th:replace="layout.html :: header"></div>
<h1 class="text-center" style="padding: 2%">List of services</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 text-center">
            <div class="chooseus__text">

                <a class="btn btn-primary btn-lg"
                   sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" th:href="@{/services/add}">
                    Add new service
                </a>

                <a class="btn btn-primary btn-lg"
                   sec:authorize="hasRole('ROLE_CLIENT')" th:href="@{/services/rate}">
                    Rate Service
                </a>
                <a class="btn btn-primary btn-lg" th:href="@{/servicesRates}">
                    List of rates
                </a>
            </div>
        </div>
    </div>


    <br><br>


    <div class="card border-primary m-3" style="width: 28%; display: inline-flex"
         th:each="service :${services}">
        <div class="card-header" th:text="${service.serviceName}"></div>
        <div class="card-body">
            Price: <h4 class="card-title" th:text="${service.price}"></h4>
            <div class="card-text">
                <p>Employees:</p>
                <div class="item-rel" style="display: inline"
                     th:each="employee:${service.employees}"
                     th:text="${employee.getName()}" th:value="${employee.getUsername()}">
                    [employee.ime]
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">

            <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')">
                <a class="btn btn-outline-primary"
                   th:href="@{'/services/{id}/edit' (id = ${service.serviceId})}">Edit</a>
                <form method="POST" style="display: inline-flex"
                      th:action="@{'/services/{id}/delete' (id = ${service.serviceId})}">
                    <button class="btn btn-outline-primary" type="submit">Delete</button>
                </form>
            </th:block>

            <a class="btn btn-primary"
               sec:authorize="isAuthenticated()" th:href="@{'/makeAppointment'}"> Make Appointment</a>

        </div>
    </div>
</div>
<div th:replace="layout.html :: footer"></div>

</body>
</html>