<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Service</title>
    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
    <script src="https://bootswatch.com/_assets/css/custom.min.css"></script>
    <script src="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css"></script>
    <script src="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css"></script>
</head>
<body>
<div th:replace="layout.html :: header"></div>

<form method="POST" th:action="@{'/services/{id}' (id = ${service?.serviceId})}">
    <fieldset>
        <div class="container" width:50%>
            <br>
            <br>
            <h3>Edit service</h3>
            <div class="form-group">
                <label class="form-label mt-4" for="id">Service id:</label>
                <input class="form-control" disabled id="id"
                       name="id"
                       th:value="${service?.serviceId}" type="text">
            </div>

            <div class="form-group">
                <label class="form-label mt-4" for="serviceName">Service Name:</label>
                <input class="form-control" id="serviceName"
                       name="serviceName"
                       required
                       th:value="${service?.serviceName}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="price">Price:</label>
                <input class="form-control" id="price"
                       name="price"
                       required th:value="${service?.price}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="employeeIds">Employees:</label><br/>

                <select class="form-select selectMultiple input" id="employeeIds" multiple name="employeeIds">

                    <option th:each="employee: ${employees}"
                            th:selected="${service?.getEmployees().contains(employee)}"
                            th:text="${employee.getName()}"
                            th:value="${employee?.getUsername()}"> [employee.name]
                    </option>


                </select>
            </div>
            <br>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <a class="btn btn-link" href="/services" id="back" type="button">Back to services</a>
        </div>
        </div>
    </fieldset>
</form>
<div th:replace="layout.html :: footer"></div>
</body>
</html>